body{
	line-height: 1.1;
	font-weight: 500;
}


.column1{
	background-color: #a6c8d9;
}

.column2{
	background-color: #EAAA8B;
}

.column3{
	background-color: #1797D6;
}

.column4{
	background-color: #97D617;
}

.column5{
	background-color: #F2B9C3;
}

.mainTitle{
	font-weight: bold; 
}

.edTitle{
	font-size: 24px;
}


.itAssociates{
	line-height: .8;
}

.specialBorder {
	border-bottom: 3px solid white;
}

.allSectorJobPostings {
	background-color: white;
	color: black;
}

.jobPostingsTotal {
	color: #0E6089;

	font-weight: bold;
}

.jobPostingsRow {
	color: white;
}

.wages {
	font-weight: bold;
}


th {
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	color: white;
	height: 50%;
}

/*tr:nth-child(3){
	color: white;
}*/

tr:first-child{
	border-bottom: 3px solid white;
}
/*tr:nth-child(4){
	border-bottom: 3px solid white;
}*/

/*tr:nth-child(6){
	color: white;
}
*/
/*tr:nth-child(7){
	border-bottom: 3px solid white;
}*/

table, th, td {
	padding: 10px;
	border-spacing: 5px; 
	text-align: center;
	vertical-align: middle;
}